select {
    padding: 5px;
    border-radius: 5px;
  }

option {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

option[value="Fevine"] {
    background-image:url(../SpriteIcons/Fevine.webp)
  }

option[value="Ampole"] {
    background-image:url(../SpriteIcons/Ampole.webp)
}