.container{
  margin: auto;
  width: 1000px;
  height: auto;
  border: 1px solid black;
  font-size: 42px;
  font-weight: bold;
  background: rgb(123,184,235);
  background: linear-gradient(90deg, rgba(123,184,235,1) 0%, rgba(124,148,230,1) 49%, rgba(0,255,250,1) 100%);
}

.flex{
  display: flex;
}

.row1{
  width: auto;
  height: 150px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  font-size: 48px;
}

.row2{
  width: 100%;
  height: 150px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  flex: 1;
}

.row3{
  width: auto;
  height: 75px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  font-size: 24px;
}

.SelectBox{
  font-size: 28px;
  height: auto;
  width: auto;
}

#RoamingAmountID{
  width: 100px;
  height: 40px;
  font-size: 28px;
}

#SetEncounterLabel{
  display: none;
}

#SetEncounterID{
  zoom: 2;
}

#footnote2{
  font-size: 15px;
}

@media screen and (max-width: 1080px) {
  .container{
    width: 600px;
  }

  #RoamingAmountID{
    width: 80px;
    height: auto;
  }

  #AmountRoamings{
    font-size: 26px;
  }

  .row1{
    font-size: 20px;
    height: 100px;
  }

  .row2{
    width: 50%;
    font-size: 20px;
  }

  label{
    font-size: 32px;
  }

  .SelectBox{
    font-size: 28px;
    height: auto;
    width: auto;
  }

  .Output{
    font-size: 20px;
  }  
}

@media screen and (max-width: 800px) {
  .container{
    width: 400px;
  }

  .row2{
    font-size: 24px;
  }

  label{
    font-size: 24px;
  }

  .SelectBox{
    font-size: 20px;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .container{
    width: 320px;
  }

  .flex{
    display: block;
  }

  .row2{
    width: auto;
    height: 120px;
  }

  #AmountRoamings{
    font-size: 24px;
  }

  .SelectBox{
    font-size: 14px;
    width: auto;
  }

  label{
    font-size: 24px;
  }

  #RW{
    margin-top: 0px;
    font-size: 20px;
  }
}


@media screen and (max-width: 400px) {
  .container{
    width: 320px;
  }

  .flex{
    display: block;
  }

  .row2{
    width: 100%;
    height: 100px;
  }

  #AmountRoamings{
    font-size: 24px;
  }

  .row1{
    width: 320px;
    height: 100px;
    font: 48px;
  
  }
  
  .row2{
    height: 100px;
  }
}